/* view story */
.titleCont {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}

.descText {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.highlighted {
    color: var(--secondaryColor);
    cursor: pointer;
}

.readingDiv::-webkit-scrollbar {
    display: none;
}

.storyTextboardHolder {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
}

.gameModeOverFlowCont::-webkit-scrollbar {
    display: none;

}