/* view story */
.titleCont {
    display: grid;
    align-items: flex-start;
    gap: 1rem;
    grid-template-columns: 3fr 2fr 1fr;
    justify-items: flex-start;
}

.descText {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.highlighted {
    color: var(--secondaryColor);
    cursor: pointer;
}

.readingDiv::-webkit-scrollbar {
    /* display: none; */
}

.storyTextboardHolder {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
}

.gameModeOverFlowCont::-webkit-scrollbar {
    display: none;

}

.gameModeParty {
    position: fixed;
    top: 0;
    right: 0;
}

@media only screen and (min-width: 1000px) {
    .gameModeParty {
        position: sticky;
        top: 0;
        left: 0;
    }

}