.crossWordMain {
    color: var(--textColorAnti);
}

.crossWordMain p {
    color: var(--textColor);
}

.spawnArea {
    display: grid;
    height: 70dvh;
    aspect-ratio: 1/1;
    max-width: 90dvw;
    margin: 0 auto;
}

.tile {
    background-color: var(--primaryColor);
    display: grid;
    align-items: center;
    justify-items: center;
}

.leftToFind {
    text-align: center;
    margin: 1rem;
}

.correct {
    animation: lift 1s alternate ease;
}


.incorrect {
    animation: shake 2500ms alternate ease;
    background-color: grey;
}

.quickShake {
    animation: quickShake 40ms infinite alternate;
}

@keyframes quickShake {
    to {
        rotate: 7deg;
    }
}


@keyframes lift {
    to {
        translate: 40px 0;
    }
}

@keyframes shake {
    0% {
        rotate: 0deg;
    }

    50% {
        rotate: 15deg;
    }

    100% {
        rotate: -15deg;
    }
}










/* matchup gm */
.gmMainDiv {
    display: grid;
    align-items: stretch;
    gap: 1rem;
    padding: .5rem 0 .5rem 0;
    border-radius: 1rem;
    height: 100%;
    max-width: 100dvw;
}

.gmMainDiv label {
    color: var(--textColor);
    margin: .2rem 0 .2rem 0;
}

.questionCont svg {
    cursor: pointer;
}

.questionCont svg:hover {
    scale: 1.05;
}

.deleteQuestion {
    width: var(--nav-icon-size);
    fill: var(--textColor);
    position: relative;
    translate: 0 -5px;
    rotate: 10deg;
}

.deleteChoice {
    width: calc(var(--nav-icon-size) / 1.2);
    fill: gold
}

.questionCont {
    padding: .5rem;
}

.choicesDivCont {
    display: flex;
    column-gap: 1rem;
    flex-wrap: wrap;
}



/* pronounce GM*/
.pronounceMainDiv {
    text-align: center;
    width: 100%;
    min-height: 300px;
    display: grid;
    grid-auto-flow: column;
    /* justify-content: center; */
    gap: 1rem;
}

.highlightText {
    background-color: pink;
}

.probuttonholderread button {
    background-color: var(--primaryColor);
}

.probuttonholder button {
    width: 100%;
    margin: 0 auto;
    max-width: 400px;
}

.bright {
    filter: brightness(1.5) !important;
    transition: filter none;
}