.imageCont {
    height: 70dvh;
    aspect-ratio: 4/3;
    width: 100%;
    max-width: 80dvw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    object-fit: contain;
}

.imageCont>img {
    max-height: 100%;
    object-fit: contain;
}

.videoCont {
    margin: 0 auto;
    background-color: var(--primaryColor);
    padding: 1rem;
    display: grid;
    gap: 1rem;
}