@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: MyFont;
  src: url('/public/fonts/Ldfcomicsans.ttf')
}

:root {
  --error-color: #e74c3c;

  --font-family-main: cursive;
  --font-family-secondary: 'Roboto', sans-serif;

  --small-font-size: .5em;
  --medium-font-size: .7em;
  --large-font-size: 1.3em;

  --normal-font-weight: 400;
  --bold-font-weight: 700;

  --small-margin: 8px;
  --medium-margin: 16px;
  --large-margin: 24px;

  --small-padding: 8px;
  --medium-padding: 16px;
  --large-padding: 24px;

  --small-border-width: 1px;
  --medium-border-width: 2px;
  --large-border-width: 3px;
  --default-border-radius: 8px;

  --nav-icon-size: 1.5rem;

  --z-indexNormal: 1;
  --z-indexPopUp: 998;
  --z-indexNavBar: 999;

  --short-animation-duration: 300ms;
  --medium-animation-duration: 500ms;
  --long-animation-duration: 800ms;
}


*:where( :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ol,
ul,
li,
menu {
  list-style: none;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

svg {
  max-inline-size: 100%;
  max-block-size: 100%;
}

h3 {
  font-weight: var(--bold-font-weight);
  font-size: var(--large-font-size);
}

a {
  cursor: pointer;
}

li {
  cursor: pointer;
}

button {
  padding: .7rem;
  border-radius: .7rem;
  text-align: center;
  width: min-content;
  transition: all 400ms;
  white-space: nowrap;
  background-color: var(--secondaryColor);
  color: var(--textColorAnti);
}

button:hover {
  filter: brightness(.8);
  scale: 1.025;
}

#homeDiv {
  color: var(--textColor);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100dvh;
  background-position-x: left;
  max-width: 100dvw;
  overflow: auto;
}



body {
  font-family: var(--font-family-main);
}