@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: MyFont;
  src: url('/public/fonts/Ldfcomicsans.ttf')
}

:root {
  --error-color: #e74c3c;

  /* --font-family-main: ; */

  --small-font-size: .7em;
  --regular-font-size: 1em;
  --medium-font-size: 1.15em;
  --large-font-size: 1.3em;

  --normal-font-weight: 400;
  --bold-font-weight: 700;

  --small-margin: 8px;
  --medium-margin: 16px;
  --large-margin: 24px;

  --small-padding: 8px;
  --medium-padding: 16px;
  --large-padding: 24px;

  --small-border-width: 1px;
  --medium-border-width: 2px;
  --large-border-width: 3px;
  --default-border-radius: 8px;

  --nav-icon-size: 1.5rem;
  --normal-icon-size: 2rem;

  --z-indexNormal: 1;
  --z-indexPopUp: 998;
  --z-indexNavBar: 999;

  --short-animation-duration: 300ms;
  --medium-animation-duration: 500ms;
  --long-animation-duration: 800ms;
}


*:where( :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* border: 1px solid red !important; */
}


ol,
ul,
li,
menu {
  list-style: none;
}

html {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: left;
  background-color: #23201d;
  height: 100dvh;
  width: 100dvw;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: var(--font-roboto-mono);
  color: var(--textColor);
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

svg {
  max-inline-size: 100%;
  max-block-size: 100%;
}

h3 {
  font-size: var(--large-font-size);
  font-weight: var(--bold-font-weight);
  font-family: var(--font-comic-nue);
}

a {
  cursor: pointer;
}

li {
  cursor: pointer;
}

.secondButton {
  padding: .7rem;
  border-radius: 5rem;
  text-align: center;
  width: min-content;
  transition: all 400ms;
  white-space: nowrap;
  background-color: var(--thirdColor);
  font-size: var(--small-font-size);
  margin: .5rem;
  color: #fff;
}

button {
  padding: .7rem;
  border-radius: .7rem;
  text-align: center;
  width: min-content;
  transition: all 400ms;
  white-space: nowrap;
  background-color: var(--secondaryColor);
  color: var(--textColorAnti);
}

button:hover {
  filter: brightness(.8);
  scale: 1.025;
}

label {
  font-weight: var(--bold-font-weight);
  font-size: var(--medium-font-size);
  color: var(--textColorAnti);
}

textarea {
  padding: .5rem;
  border-radius: .7rem;
  resize: none;
}

input {
  background-color: var(--primaryColor);
  padding: .5rem;
  border-radius: .7rem;
  margin-top: .2rem;
  margin-bottom: .2rem;
}

body {
  font-size: var(--regular-font-size);
  height: 100%;
  overflow-y: auto;
}

body::-webkit-scrollbar {
  display: none;
}

.niceScrollbar::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  border-radius: 1rem;
}

.niceScrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1rem;
}

.niceScrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.bold {
  font-weight: bold;
}

.switchTabButton {
  background-color: #000;
  color: #fff;
  padding: 1rem;
  border-radius: 0;
}

.switchTabButton:active {
  background-color: hsl(0, 0%, 10%);
  border-inline: 1px solid white;
}

.utilityButton {
  background-color: hsl(0, 0%, 20%);
  color: #fff;
  padding: 1rem;
  border-radius: 0;
}

.utilityButton:active {
  background-color: hsl(0, 0%, 30%);
  border-inline: 1px solid white;
}