.storyBoardArr {
    background-color: aliceblue;
}

.bttnHolder {
    opacity: 0;
}

.storyTextboardHolder:hover .bttnHolder {
    opacity: 1;
}

.choices {
    background-color: aqua;
    width: 70px;
    height: 70px;
    cursor: move;
    display: grid;
    align-items: center;
    justify-items: center;
    user-select: none;
}

.canHide {
    /* background-color: green !important; */
    opacity: 0;
}

.tempElReplace {
    background-color: green !important;
    position: absolute;
    width: 30px;
    height: 30px;

}


.makeStoryLabelInputCont {
    display: flex;
    flex-direction: column;
}