.storyBoardArr {
    background-color: aliceblue;
}

.bttnHolder {
    opacity: 0;
}

.addMore {
    width: 100%;
}

.addMore:hover .bttnHolder {
    opacity: 1;
}

.choices {
    background-color: aqua;
    width: 70px;
    height: 70px;
    cursor: move;
    display: grid;
    align-items: center;
    justify-items: center;
    user-select: none;
}

.canHide {
    /* background-color: green !important; */
    opacity: 0;
}

.tempElReplace {
    background-color: green !important;
    position: absolute;
    width: 30px;
    height: 30px;

}


.makeStoryLabelInputCont {
    display: flex;
    flex-direction: column;
}

.textAreaEdit {
    resize: none;
    overflow: hidden;
    min-height: 200px;
}

.textAreaEdit2 {
    width: 100%;
}

.imageCont {
    background-color: yellow;
    height: 70%;
    aspect-ratio: 3/4;
    margin: 0 auto;
    display: grid;
    align-items: center;
    justify-items: center;
    object-fit: contain;

}

.videoCont {
    background-color: yellow;
    height: 70%;
    aspect-ratio: 3/4;
    margin: 0 auto;
    display: grid;
    align-items: center;
    justify-items: center;
    object-fit: contain;

}