.privacyMainDiv {
    padding: 1rem;
    display: grid;
    gap: 1rem;
}

.privacyMainDiv>* {
    background-color: var(--primaryColor);
    padding: 1rem;
}

.privacyMainDiv h1 {
    font-size: 2rem;
    font-weight: bold;
}

.privacyMainDiv h2 {
    font-size: 1.5rem;

}