.crossWordMain {
    color: var(--textColorAnti);
}

.crossWordMain p {
    color: var(--textColor);

}

.spawnArea {
    max-height: 400px;
    width: 90%;
    height: 100%;
    aspect-ratio: 1/1;
    background-color: aliceblue;
    display: grid;
    gap: .1rem;
    margin: 0 auto;
    /* transform-style: preserve-3d; */
}

.tile {
    background-color: green;
    display: grid;
    align-items: center;
    justify-items: center;
}

.correct {
    animation: lift 1s alternate ease;
}


.incorrect {
    animation: shake 2500ms alternate ease;
}

@keyframes lift {
    to {
        translate: 40px 0;
    }
}

@keyframes shake {
    0% {
        rotate: 0deg;
    }

    50% {
        rotate: 15deg;
    }

    100% {
        rotate: -15deg;
    }
}